<header class="c-global-header">
  <div class="c-container c-container--medium">
    <div class="c-global-header__inner">
      <div class="c-global-header__primary">
        <h1 class="c-brand">
          <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/logo.png" style="max-width:25vh"/></a>
        </h1>
        <p class="c-description">{{ .Site.Params.description }}</p>
      </div>
      <div class="c-global-header__utility">
        <a class="icon icon-menu" href="https://www.facebook.com/bookofmoons/"><i class="fab fa-facebook"></i></a>
        <a class="icon icon-menu" href="https://www.instagram.com/book.of.moons/"><i class="fab fa-instagram"></i></a>
        <button type="button" class="icon icon-menu c-menu">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      {{ partial "global-nav.html" . }}
    </div>
  </div>
</header>
